=form_for @profile do |f|
	.form-group
		=f.label :instrument
		=f.text_field :instrument, required: true, class: 'form-control'
	.form-group
		=f.label :birthday
		=f.text_field :birthday, required: true, class: 'form-control datepicker'
	.form_group
		=f.label :gender
		=f.text_field :gender, required: true, class: 'form-control'
	.form_group
		=f.label :bio
		=f.text_area :bio, required: true, class: 'form-control'
	.form_group
		=f.label :profile_picture, 'Upload Picture', class: 'btn btn-secondary margin-after'
		%span.no-display
			= f.file_field :profile_picture, class: 'form-control'
	=f.submit class: 'btn btn-primary'
