%h2 About TeachMe
%p.paragraph-wrap 
	TeachMe solves three problems.  It eliminates the need for instructors to pass lessons and feedback via margin notes and written instructions. It provides instructors and parents a centralized and impossible-to-lose record.  And finally, it provides added entertainment to motivate children to practice regularly and thoroughly.

%h3 Instructions
%p
	If you are interested in exploring our site, you can use the login student.test.1@test.com for the student experience.  For the teacher experience use teacher.test.1@test.com.  The password for both is 'password'.  Any changes you make will be deleted each night, so feel free to try out any functionality you like.

%h3 The Creators

.profile-wrap
	.profile
		Lonnie Horlacher
		%a{href: 'mailto:horlacher.lonnie@gmail.com?Subject=Introduction'} horlacher.lonnie@gmail.com
		%span
			|
		%a{href: 'https://www.linkedin.com/in/lonnie-horlacher', target: 'blank'} LinkedIn
		%span
			|
		%a{href: 'https://www.github.com/lhorlacher', target: 'blank'} Github
	.profile
		Ryan Horlacher
		%a{href: 'mailto:horlacherr@gmail.com?Subject=Introduction'} horlacherr@gmail.com
		%span
			|
		%a{href: 'https://www.linkedin.com/in/ryan-horlacher', target: 'blank'} LinkedIn
		%span
			|
		%a{href: 'https://www.github.com/ryanlynnhorlacher', target: 'blank'} Github



