@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";
@import "bootstrap-select";

#logo {
	font-family: 'Comfortaa', cursive;
}

body {
	font-family: 'Open Sans', sans-serif;
}

hr {
	margin-bottom: 30px;
}

.page-header {
	width: 20vh;
    position: absolute;
    left: 50%;
    margin-top: 15px;
    margin-left: -10vh;
    margin-bottom: 0;
    text-align: center;
    border: 0;
}

.no-show {
	display: none;
}

.outer-modal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9998;
	width: 100vw;
	height:100vh;
	background-color: rgba(0, 0, 0, 0.7);
	
}

.inner-modal {
	max-height: calc(100vh - 50px);
	overflow-y: auto;
	position: fixed;
	width: 75%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background: #fff;
	padding: 20px;
}

.full-width {
	width: 100%;
	min-height: 400px;
}

.top-margin {
	margin-top: 10px;
}

.no-padding {
	padding: 0;
}

.list-item-inner {
	box-shadow: 0px 0px 0px #888888;
	top: 0;
	left: 0;
	transition: box-shadow .2s, top .2s, left .2s;
}

.list-item-inner:hover {
	position: relative;
	top: -2px;
	left: -2px;
	box-shadow: 3px 3px 5px #888888;
}

.list-item-link {
	color: black;
	text-decoration: none;
}

.list-item-link:hover {
	text-decoration: none;
	color: black;
}

.btn-secondary {
    color: #373a3c;
    background-color: #fff;
    border-color: #ccc;
}
.btn {
	margin-top: 3px;
	margin-right: 3px;
}

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}

.top-right-absolute {
	position: absolute;
	right: 9.5vw;
	top: 80px;
}

.top-btn {
	margin-bottom: 10px;
}

.title-line2 {
	margin-top: 0;
}

@import "assignments";
@import "profiles";
@import "home";
@import "lessons";


