.card-btn {
	height: 50px;
	border: 1px solid #e3e3e3;
	margin-top: 0;
	margin-bottom: 10px;
	border-top: 0;
	line-height: 100%;
	font-size: 1.5em;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-right: 0;
	margin-left: 0;
}

.full-btn {
	width: 100%;
}

.left-btn {
	border-bottom-right-radius: 0;
}

.right-btn {
	border-bottom-left-radius: 0;
}

.full-btn:hover {
	border: 2px solid #e3e3e3;
	border-top: 0;
}

.assignment-div {
	margin-bottom: 0;
}

.btn-well {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom: none;
}

.assignment-well {
	background-color: transparent;
}

.fill-div-space {
	padding-bottom: 50px;
}
