.card-btn {
	height: 50px;
	border: 1px solid #e3e3e3;
	margin-top: 0;
	margin-bottom: 10px;
	border-top: 0;
	line-height: 100%;
	font-size: 1.5em;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-right: 0;
	margin-left: 0;
}

.full-btn {
	width: 100%;
}

.left-btn {
	border-bottom-right-radius: 0;

}

.right-btn {
	border-bottom-left-radius: 0;
}

.full-btn:hover {
	border: 2px solid #e3e3e3;
	border-top: 0;
}

.assignment-div {
	margin-bottom: 0;
}

.assignment-well {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: transparent;
	border-bottom: none;
}

.fill-div {
	min-height: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-color: green;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
	padding: 0px;
}