// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fill-div {
	height: 45px;
	min-width: 50px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 4px;
	background-color: green;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0px;
	border-top: 1px solid black;
	border-right: 1px solid black;
	box-shadow: 3px 0px 3px black;
}

.grad {
  background: #286090; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #286090 , #9bc2e4); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #286090, #9bc2e4); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #286090, #9bc2e4); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #286090 , #9bc2e4); /* Standard syntax */
}
